body {
    margin: 30px;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
}

.button-blue{
    border-color: var(--blue);
    color: var(--blue);
    background-color: white;
}

.button-blue:hover{
    border-color: var(--blue);
    background-color: var(--blue)
}

.button-red{
    border-color: var(--red);
    color: var(--red);
    background-color: white;
}

.button-red:hover{
    border-color: var(--red);
    background-color: var(--red)
}

.text-center {
    margin: 10px;
}

.text-center:hover {
    box-shadow: 0px 10px 81px -3px rgba(0, 0, 0, 0.1);
}

.imatgeUsuari {
    width: 100px;
}

.routerlink , .routerlink:hover {
    text-decoration: none;
    color: white;
}

:root{
    --blue: rgb(70, 143, 212);
    --red: rgb(251, 54, 54);
}